In [1]:
from statoscop.statoscop.match import match_stats, match_perf_vs, match_perf_indiv

In [2]:
match_stats('291468', 0)

,Team,Player,Agents,Rating,Average Combat Score,Kills,Deaths,Assists,Kills - Deaths,"Kill, Assist, Trade, Survive %",Average Damage per Round,Headshot %,First Kills,First Deaths,Kills - Deaths
0,CGN,aNguiSt,Killjoy,1.26,203,17,12,1,+5,62%,155,24%,0,0,0
1,CGN,Vince,Omen,1.10,217,16,14,6,+2,76%,147,27%,2,2,0
2,CGN,DaviH,Sova,0.84,139,10,15,7,-5,62%,91,25%,1,0,+1
3,CGN,elllement,Jett,0.80,181,14,16,2,-2,52%,119,29%,5,7,-2
4,CGN,BennY,Gekko,0.50,128,8,17,2,-9,52%,90,29%,1,3,-2
5,ACE,chiwa,Killjoy,1.43,227,19,10,2,+9,76%,138,31%,3,1,+2
6,ACE,Br0die,Omen,1.14,210,14,14,15,0,76%,139,27%,2,1,+1
7,ACE,musashi,Skye,1.06,189,15,13,4,+2,62%,127,61%,0,2,-2
8,ACE,ALIVE,Jett,0.92,176,13,15,1,-2,62%,107,32%,6,5,+1
9,ACE,baddyG,Viper,0.87,166,13,13,4,0,71%,115,31%,1,0,+1

In [3]:
match_perf_vs("291468", 1)

,Player,ACE musashi,,,ACE Br0die,,,ACE ALIVE,,,ACE baddyG,,,ACE chiwa,,
0,CGN BennY,1,3,-2,3,1,+2,1,5,-4,2,5,-3,1,3,-2
1,CGN Vince,5,3,+2,5,2,+3,3,2,+1,1,2,-1,2,5,-3
2,CGN elllement,3,3,+0,3,3,+0,5,5,+0,,,,3,5,-2
3,CGN DaviH,1,4,-3,2,5,-3,3,0,+3,4,5,-1,0,1,-1
4,CGN aNguiSt,3,2,+1,1,3,-2,3,1,+2,6,1,+5,4,5,-1

In [5]:
match_perf_indiv("291468", 0)

          Player  2K 3K 4K 5K 1v1 1v2 1v3 1v4 1v5 ECON  PL DE
0  CGN elllement   7                                44   1  5
1      CGN BennY   6  2                             45   2  1
2      CGN Vince   7  4  1      1                   70   6  2
3    CGN aNguiSt   8  1                             53   3  0
4      CGN DaviH   4  1         2                   41   2  2
5      ACE chiwa   8  2         2                   57   4  1
6      ACE ALIVE  10  2         2                   54   0  2
7     ACE baddyG  11  2         1                   62   7  0
8     ACE Br0die   4  3         1                   49  12  4
9    ACE musashi  11  3                             51   8  0