In [7]:
from statoscop.statoscop.region import region
from statoscop.statoscop.match import match_stats, match_perf_vs, match_perf_indiv, eco_round, eco_event
from statoscop.statoscop.stats import stats
from statoscop.statoscop.tournament import upcoming, completed, ongoing

In [12]:
ongoing('game-changers')

Empty DataFrame
Columns: [Match, Name, Date]
Index: []

In [6]:
eco_round("291311", 0)

,1,2,3,4,5,6,7,8,9,10,11,12,13
Bank1,0.3k,0.4k,13.6k,21.9k,25.9k,27.4k,32.3k,30.7k,32.9k,32.2k,24.9k,11.7k,0.0k
GN,,$$,$$,$$$,$$$,$$$,$$$,$$$,$$$,$$$,$$$,$$$,
HASBYGANG,,,$$$,$$,$$$,$$,$$$,$$,$$,$$,$$,$$,
Bank2,0.2k,7.4k,0.3k,6.4k,2.0k,7.3k,3.3k,4.8k,0.7k,4.7k,2.0k,0.3k,0.1k