In [1]:
from statoscop.statoscop.match import match_stats, match_perf_vs, match_perf_indiv, eco_round, eco_event

In [3]:
eco_round('291468', 1)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
Bank1,0.2k,7.0k,2.3k,9.1k,2.0k,6.4k,2.4k,8.2k,16.8k,5.3k,6.7k,1.0k,0.1k,6.8k,0.9k,6.7k,0.6k
CGN,,,$$,$$$,$$,$$,$$$,$$,$$$,$$$,$$$,$$,,$,$$,$$$,$$
ACE,,$$,$$,$,$$$,$$$,$$$,$$$,$$,$$$,$$$,$$$,,$$,$$,$$$,$$$
Bank2,0.1k,5.0k,7.1k,10.8k,15.6k,25.2k,31.3k,26.0k,17.4k,24.2k,14.2k,15.3k,0.1k,0.6k,14.4k,6.4k,11.9k

In [5]:
eco_event("291468", 0)

     Pistol Won Eco (won) $ (won) $$ (won) $$$ (won)
Team
CGN           0     3 (0)   1 (0)    6 (4)    11 (4)
ACE           2     2 (2)   2 (0)    8 (4)     9 (7)